.teacher-students .content{
    -webkit-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.75);
    /* background: transparent; */

}

.teacher-students .content .table tr td h1{
    font-weight: bold;
    display: inline;
}
.teacher-students .content .table tr td .fa-user-graduate{
    font-size: 50px;
    margin: 0px 20px;
}
.teacher-students .content .table tr td .info{
    display: inline;
    position: absolute;
    margin-left: 10px;
}
.teacher-students .content .table tr td{
    padding-bottom: 3rem !important;
}
.teacher-students .content .table tr td ul{
    list-style: none;
    margin-left: 20px;
}
.teacher-students .content .table td:nth-child(2){
    width: 100px;
}
.teacher-students .content .table tr td .fa-question-circle{
    color: #6190ae;
    font-size: 50px;
    cursor: pointer;
}


